<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>위젯에서 걸음 수를 표시하기 위해 동작 감지 권한이 필요합니다.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>bnz.stepmon.stepcheck.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
