<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>bnz.stepmon.stepcheck.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
    <key>NSHealthShareUsageDescription</key>
    <string>걸음 수 데이터를 분석하여 활동 알림을 보내고 위젯에 표시하기 위해 필요합니다.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>앱에서 측정한 데이터를 건강 앱에 저장하기 위해 필요합니다.</string>
</dict>
</plist>
